$logoBg: #de4f4f;
$bgHeader: #2b2e39;
$subMenu: #de4f4f;
$subMenuHover: #a83636;
$link: #b1b3be;
$linkHover: #de4f4f;;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  line-height: 1;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
ol, ul {
  list-style: none;
}
.overlay.show{
  display: block;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.icon-custom-menu {
  background: transparent;
  display: none;
  height: 32px;
  right: 25px;
  border: none;
  margin-left: 15px;
  position: fixed;
  top: 12px;
  width: 32px;
  z-index: 999;
  color: #fff;
  outline:none;
  span{
    font-size: 2.7em;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hidden{
  display: none;
}
.header-top-menu .container-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: inline-block;
  background-color: $bgHeader;
  width: 100%;
  height: 55px;
  -webkit-animation: all 0.2s;
          animation: all 0.2s;
  .logo-company {
    display: inline-block;
    width: 155px;
    margin-right: 35px;
    min-height: 55px;
    text-align: center;
    background-color: $logoBg;
    border-bottom: 1px solid #ED7979;
    float: left;
    img {
      max-width: 100%;
      width: 110px;
      margin-top: 10px;
    }
  }          
  #primary-menu {
    display: inline-block;
    width: calc(100% - 370px);
    line-height: 57px;
    .menu-main {
      margin-right: 20px;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      color: $link;
      height: 55px;
      display: inline-block;
      &:hover{
        color: $linkHover;
      }
    }
    .sub-menu-secondary {
      top: 45px;
      position: absolute;
      width: 220px;
      background: $subMenu;
      li {
        line-height: 40px;
        font-size: 11px;
        height: 35px;
        letter-spacing: 1px;
        transition: all 0.05s linear;
        -moz-transition: all 0.05s linear;
        -webkit-transition: all 0.05s linear;
        text-decoration: none;
        padding-left: 15px;
        a {
          color: #fff;
          display: inline-block;
          cursor: pointer;
          width: 100%;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 11px;
        }
        &:hover {
          background: $subMenuHover;
        }
      }
    }
    .show{
      display: block;
    }
  }
  .secondary-nav {
    width: 150px;
    text-align: right;
    display: inline-block;
    float: right;
    nav {
      line-height: 57px;
      a.menu-secondary:first-child:before {
        content: '';
        position: absolute;
        height: 6px;
        border: 1px solid #dadeeb;
        left: 40px;
        top: 3px;
      }
      a {
        margin-right: 20px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        color: #b1b3be;
        &:hover{
          color: #de4f4f
        }
      }
    }
  }
}
#wrapper.toggled #menu-Onmobile {
  width: 220px;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
#menu-Onmobile {
  background: #2b2e39;
  height: 100%;
  right: 220px;
  top: 0;
  position: fixed;
  right: 0;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 55px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    padding-left: 25px;
    text-transform: uppercase;
    color: #b1b3be;
    text-decoration: none;
  }
  .list-menu-mobile {
    .has-sub-menu {
      padding-bottom: 0px;
      position: relative;
    }
    .menu-main {
      margin-bottom: 0px;
      padding: 10px 0px 10px 25px;
    }
     #primary-menu span {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
      color: #b1b3be;
      font-size: 14px;
    }
    ul.sub-menu-secondary {
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(177, 179, 190, 0.2);
      li .menu-child {
        padding-left: 39px;
        margin-bottom: 20px;
        background-image: url(https://d14xs1qewsqjcd.cloudfront.net/assets/icon-next-short.svg);
        background-position: 28px 2px;
        background-size: 5px;
        background-repeat: no-repeat;
      }
    }
  }
}
.form-login {
  width: 285px;
  display: block;
  background: #fff;
  text-align: left;
  position: relative;
  padding: 30px 25px;
  margin-top: 15px;
  left: -155px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #1f2128;
    font-family: 'ProximaNovaA-Semibold';
    margin: 0 0 10px;
  }
}
.form-login:before {
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid #fff;
  top: -9px;
  display: block;
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .header-top-menu .container-header #primary-menu {
    display: none;
  }
  .header-top-menu .container-header .secondary-nav {
    display: none;
  }
}
@media (max-width: 840px){
  .icon-custom-menu {
    display: block;
  }
}