<template>
  <div>
    <navigation-menu></navigation-menu>
    <router-view></router-view>
  </div>
</template>
<script>
  import NavigationMenu from './NavigationMenu.vue'
  export default{
    components: {
      NavigationMenu
    }
  }
</script>