<template>
  <div id="wrapper" class="page page-wrap page-home" v-bind:class="{ toggled: showMobileMenu }">
    <div class="overlay" v-bind:class="{ show: showMobileMenu }"></div>
    <div id="page-content-wrapper">
      <div id="header-page-menu" class="header-top-menu">
        <div class="container-header wow fadeInUp animated animated animated animated"
             style="animation-name: all;">
          <div class="logo-company">
            <a href="#">
              <img id="logo-meteor-home" src="https://d14xs1qewsqjcd.cloudfront.net/assets/logo-diff.svg">
            </a>
          </div>
          <nav id="primary-menu">
            <a @mouseover="upHere = true"  class="menu-main"><span>Developers</span></a>
            <ul v-show="upHere" @mouseleave="upHere = false" class="sub-menu-secondary">
              <li>
                <a class="menu-child" href="#">Install</a>
              </li>
              <li>
                <a class="menu-child" href="#">Install</a>
              </li>
            </ul>
          </nav>
          <div class="secondary-nav">
            <nav>
              <a class="menu-secondary">Login</a>
              <a href="#" class="menu-secondary">Register</a>
            </nav>
            <div id="login-popup" class="hidden">
              <div class="form-login">
                <h3>Login</h3>
                <form>
                  <input type="text" name="username" placeholder="Username / Email">
                  <input type="password" name="password" placeholder="Password">
                  <span class="error-account"></span>
                  <button type="submit" class="action-login btn-primary-meteor hvr-rectangle-out-bg">Login</button>
                </form>
                <div class="action-form-login">
                  <a data-url="resetPassword" href="#"><i
                          class="icon-icon-next-short"></i><span>Forgot your Password?</span></a>
                  <a data-url="signUp" href="#"><i class="icon-icon-next-short"></i><span>Register</span></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button v-on:click="showMobileMenu = !showMobileMenu"
                    type="button" class="icon-custom-menu animated fadeInLeft is-closed" data-toggle="offcanvas">
              <span class="mbri-menu"></span>
            </button>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-inverse" id="menu-Onmobile">
        <div class="list-menu-mobile">
          <nav id="primary-menu">
            <a href="#" class="menu-main has-sub-menu">
              <span>Developers</span></a>
            <ul class="sub-menu-secondary">
              <li><a class="menu-child" href="#">Install</a></li>
              <li><a class="menu-child" href="#">Install</a></li>
              <li><a class="menu-child" href="#">Install</a></li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
  export default{
    data: function () {
      return {
        upHere : false,
        showMobileMenu: false
      }
    }
  }
</script>